/* styles.css */

/* Reset margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Flex container styles */
.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it takes at least the full viewport height */
  padding-top: calc(60px + env(safe-area-inset-top));
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}

/* Main content styles */
main {
  flex: 1; /* Allows the main content to expand and fill available space */
}

/* Adjust padding-top to prevent content being hidden behind the header */
.flex-container {
  padding-top: 10vh; /* Adjust based on header height */
}

/* Base font and background */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #bfdbec;
  color: #333;
}

/* Navigation styles
nav {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-left: 0px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #007acc;
} */

/* Header styles
header {
  text-align: center;
  padding: 100px 20px;
  background-image: url('images/header-bg.jpg');
  background-size: cover;
  background-position: center;
  color: #ef0c0c;
} */

header h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

header p {
  font-size: 24px;
}

/* Main content styles */
main {
  padding: 20px 20px;
}

/* Project showcase */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.project-card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  text-align: center;
}

.project-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4p